/*.app { border: 1px solid #0f0; }*/

/*.app > * { border: 1px solid #060; }*/

/*.app > .toolbar { border: 1px solid #f00; }*/

/*.app > .toolbar > * { border: 1px solid #600; }*/

/*.app > .bookmarks { border: 1px solid #0f0; }*/

body {
    background-color: rgb(73, 105, 167); /* TODO set background color when debug modal is on */
}

.app {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
    padding-bottom: env(safe-area-inset-bottom);

    background: url("hello-logo.svg") 10% 90%/70.2% 30% no-repeat,
    linear-gradient(290deg, #c21f73, #af50ab, #8775d2, #5493e3, #29aae2),
    url("hello-logo.svg") 10% 90%/70% 30% no-repeat;
    background-blend-mode: luminosity, screen, normal;
}

.app > .toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: calc(env(safe-area-inset-top) + 1rem) calc(env(safe-area-inset-right) + 1rem) 1rem calc(env(safe-area-inset-left) + 1rem);
    row-gap: 1rem;
    column-gap: 1rem;
    background: rgba(0, 0, 0, 0.25);
}

/* everyone takes a row */
.app > .toolbar > * { flex: 1 100%; }

/* links and tasks share a row */
@media all and (min-width: 768px) {
    .app > .toolbar > .links { flex: 0; }
    .app > .toolbar > .tasks { flex: 3 auto; }
}

/* everyone shares a row */
@media all and (min-width: 1200px) {
    /* force elements into one row, though that's only necessary if their flex-basis is too high */
    .app > .toolbar { flex-wrap: nowrap; }
    .app > .toolbar > .search {
        order: 1;
        flex: 2 100px;
        margin-left: 1em;
        margin-right: 1em;
    }
    .app > .toolbar > .tasks {
        order: 2;
        flex: 3 250px; /* fixed flex-basis to avoid resize, e.g. when different task is selected */
    }
}

/* toolbar shadow slightly whatever comes next */
.app > .toolbar { z-index: 200; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); }

.app > .toolbar + * { z-index: 100; }


/* bookmarks take the remaining height */
.app > .bookmarks { flex: 1; }

.app > .bookmarks { display: flex; flex-flow: column; }

.app > .bookmarks > * { flex: 1; }


/* reduce distraction by reducing opacity when not hovered */
.app > .bookmarks iframe { opacity: 0; transition: opacity 0.4s ease; }

.app > .bookmarks:hover iframe { opacity: 1; }
