@import url("./base.css");

html { @apply h-full bg-swatch-blue; }
body { @apply min-h-full; }

body::after {
  @apply block content-[""] absolute top-full inset-x-0 pointer-events-none z-[1000];
  margin-top: -5rem;
  height: 5rem;
  padding: 1rem calc(env(safe-area-inset-right) + 1rem) 1rem calc(env(safe-area-inset-left) + 1rem);
  background: url("../hello-logo-solid.svg") 0 100% / auto 1.5rem content-box no-repeat;
}

@layer components {
  .app {
    @apply h-full;
    height: clamp(100svh, 100vh, 100dvh);
  }
  .app-scroll-container {
    @apply bg-gradient-to-b p3:bg-gradient-to-b-in-oklch from-swatch-blue-600 to-swatch-yellow-300 dark:from-swatch-blue-800 dark:to-swatch-yellow-500 bg-local;
    background-size: 100% 200%;
  }
}
