@import 'sp-split-view.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top); --sar: env(safe-area-inset-right); --sab: env(safe-area-inset-bottom); --sal: env(safe-area-inset-left);
  --tax: env(titlebar-area-x); --tay: env(titlebar-area-y); --taw: env(titlebar-area-width); --tah: env(titlebar-area-height);
  --kit: env(keyboard-inset-top); --kir: env(keyboard-inset-right); --kib: env(keyboard-inset-bottom);
  --kil: env(keyboard-inset-left); --kiw: env(keyboard-inset-width); --kih: env(keyboard-inset-height);
}

@layer base {
  html { @apply scroll-smooth; }

  h1 { @apply text-2xl; }
  h2 { @apply text-xl; }
  h3 { @apply text-lg; }

  hr {
    @apply w-48 h-1 mx-auto rounded border-0;
    @apply my-4 md:my-10;
    @apply bg-default dark:bg-invert;
  }

  button {
    @apply rounded;
    @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-white focus-visible:ring-opacity-75;
  }

  [aria-haspopup][aria-expanded="true"] { @apply ring ring-white ring-opacity-75; }
}

@layer components {
  .btn {
    @apply px-3 py-2 rounded text-left font-medium transition enabled:cursor-pointer enabled:shadow disabled:opacity-60;
    @apply active:pt-2.5 active:pb-1.5 active:shadow-inner active:shadow-slate-950/30 active:dark:shadow-slate-800/30;
    @apply bg-glass enabled:hover:[--glass-opacity:0.35];
    @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-white focus-visible:ring-opacity-75;
  }

  .btn:has(>:where(svg,img)):has(>:where(small)) { @apply grid gap-x-2 gap-y-1 items-center justify-items-start grid-cols-[min-content,1fr]; }
  .btn:has(>:where(svg,img)):not(:has(>:where(small))) { @apply flex gap-2; }
  .btn > :where(svg,img) { @apply w-5 h-5; }
  .btn > small { @apply block prose-invert dark:prose text-sm font-medium row-start-2 col-start-2; }

  .btn-invert { @apply btn text-invert bg-glass-invert enabled:hover:[--glass-opacity:0.35]; }
  .btn-invert > small { @apply prose dark:prose-invert text-sm font-medium; }

  .btn-simple {
    @apply btn border border-black/40 bg-none;
    @apply mt-0.5 enabled:hover:-translate-y-0.5 enabled:hover:shadow-lg active:hover:shadow-sm active:translate-y-0 active:py-2;
  }
  .btn-invert-simple { @apply btn-simple border-white/40 text-invert; }
  .btn-invert-simple > small { @apply prose dark:prose-invert text-sm font-medium; }
}


@layer utilities {
  /* noinspection CssUnknownProperty,CssInvalidAtRule */
  @property --sync-ring-width {
    syntax: '<length>';
    initial-value: 0;
    inherits: false;
  }
  @keyframes syncing {
    100% { --sync-ring-width: 2px; }
  }
  [data-sync] {
    --sync-color: theme('colors.emerald.500 / 75%');
    box-shadow: 0 0 0 2px var(--sync-color), 0 0 0 calc(2px + var(--sync-ring-width)) var(--sync-color), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    transition: box-shadow 0.4s ease-in-out;
    animation: 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite alternate none syncing;
  }
  [data-sync=cached] { --sync-color: theme('colors.sky.500 / 75%'); }
  [data-sync=synced] { animation: none; }
}


@layer components {
  .app {
    --nav-height: theme('spacing.16');
    --app-item-height: clamp(82svh, calc(100svh + theme('screens.sm') - 100vw), calc(100svh - var(--nav-height)));
    --app-item-padding-x: clamp(theme('spacing.4'), calc(100vw - theme('screens.sm')), theme('spacing.16'));
    --app-item-padding-y: clamp(theme('spacing.4'), calc(100vw - theme('screens.sm')), theme('spacing.8'));
    /* Ranges from --nav-height for small screens to 0 for large screens so element is below the navigation on small screens */
    --app-item-gap: clamp(0px, calc(var(--nav-height) + theme('screens.sm') - 100vw), var(--nav-height));
  }

  .app-header {
    @apply top-0 inset-x-0;
    position: fixed !important;
    height: var(--nav-height);
    z-index: 20;
  }

  .app-scroll-container {
    @apply h-full snap-y snap-mandatory overflow-y-auto;
    --padding-top: clamp(calc(var(--nav-height) / 4), calc(var(--nav-height) + theme('screens.sm') - 100vw), var(--nav-height));
    padding-top: var(--nav-height);
    scroll-padding-top: var(--padding-top);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--app-item-gap);
  }

  .app-item { @apply snap-center relative px-[--app-item-padding-x] py-[--app-item-padding-y]; }

  .widget { @apply snap-center relative px-[--app-item-padding-x] py-[--app-item-padding-y] h-[--app-item-height] grid;
    grid-template-rows: 1fr minmax(1px, 100%); }
  .widget .widget-controls { @apply flex items-center justify-between m-3 text-default dark:text-invert font-medium; }

  @media (max-width: theme('screens.lg')) and (orientation: landscape) {
    .app { --nav-height: 0px; --app-item-height: 100svh; }
    .app-header { display: none; }
    .app-item, .widget { padding: max(var(--sat), 1rem) max(var(--sar), 1rem) max(var(--sab), 1rem) max(var(--sal), 1rem); }
  }
  .panel { @apply h-full max-h-full flex flex-col justify-center border border-gray-500/40 bg-hero-diagonal-lines-gray-500-40 rounded-xl; }
  .panel > .panel-content { @apply rounded-xl bg-gray-500/40 ring-8 ring-gray-500/40 overflow-hidden; }
  .panel > .panel-content > * { @apply border-0; }
}

/* Larger default shadow */
@layer components {
  .shadow { @apply shadow-lg dark:shadow-xl; }
}

/* Glass-like background (gradient), can be tinted with background color */
@layer components {
  .bg-glass {
    --glass-opacity: 0.25;
    --glass-opacity-end: max(var(--glass-opacity) - 0.125, 0.0);
    --glass-gradient-stops: theme('backgroundColor.default / var(--glass-opacity)'), theme('backgroundColor.default / var(--glass-opacity-end)');
    @apply bg-gradient-to-br p3:bg-gradient-to-br-in-hwb [--tw-gradient-stops:--glass-gradient-stops];
    @apply backdrop-blur-md;
  }

  .bg-glass-invert {
    @apply bg-glass;
    --glass-gradient-stops: theme('backgroundColor.invert / var(--glass-opacity)'), theme('backgroundColor.invert / var(--glass-opacity-end)');
  }

  @media (prefers-color-scheme: dark) {
    .bg-glass {
      --glass-gradient-stops: theme('backgroundColor.invert / var(--glass-opacity)'), theme('backgroundColor.invert / var(--glass-opacity-end)');
    }
    .bg-glass-invert {
      --glass-gradient-stops: theme('backgroundColor.default / var(--glass-opacity)'), theme('backgroundColor.default / var(--glass-opacity-end)');
    }
  }
}


@layer components {
  /* default styling for random content in a box */
  .box-prose {
    @apply mx-auto first:mt-0 sm:first:mt-4 mb-4;
    @apply px-6 py-2;
    @apply sm:rounded-lg shadow-lg dark:shadow-xl;
    @apply bg-default dark:bg-invert;
    @apply prose dark:prose-invert sm:prose-sm lg:prose-lg xl:prose-xl;
  }
}


@layer components {
  label { @apply block font-medium text-black/75 dark:text-white/75 [&>*]:mt-1; }
  ::placeholder { @apply opacity-50 font-light; }
  [type="color"] { @apply block rounded-md p-1 w-36 h-10; }

  [type="date"], [type="datetime-local"], [type="month"], [type="time"], [type="week"],
  [type="email"], [type="tel"],
  [type="number"], [type="text"], [type="password"],
  [type="search"], [type="url"],
  select, textarea, .form-field {
    @apply w-full rounded-md bg-gray-200 shadow-inner;
    @apply text-gray-700;
    @apply disabled:text-opacity-60 disabled:opacity-60 disabled:cursor-not-allowed;
    @apply focus:text-gray-900 focus:bg-white focus:ring-2 focus:ring-white focus:ring-offset-0;
    @apply invalid:text-pink-600 invalid:ring-2 invalid:ring-pink-500;
    @apply focus:invalid:ring-pink-500 focus:invalid:ring-2 focus:invalid:border-pink-400;
  }
}


@layer components {
  .bg-magic {
    --magic-gradient-stops: rgb(41 171 226), rgb(100 139 224), rgb(163 94 187), rgb(194 30 115), rgb(247 79 87), rgb(255 146 52), rgb(235 178 29),
    rgb(203 207 40), rgb(153 196 53), rgb(105 183 69), rgb(4 169 113), rgb(0 151 139), rgb(1 129 143), rgb(0 144 170), rgb(0 158 198), rgb(41 171 226);
    background-image: radial-gradient(circle at 50% 50%, var(--magic-gradient-stops)), radial-gradient(in oklch circle at 0 0, var(--magic-gradient-stops));
  }

  .animate-magic { @apply bg-[length:1500%_1500%] animate-[magic_60s_ease_infinite] motion-reduce:[animation-duration:180s]; }
  .animate-magic-fast { @apply bg-[length:800%_800%] animate-[magic_11s_ease_infinite] motion-reduce:[animation-duration:120s]; }
  @keyframes magic {
    0% { background-position: 75% 0; }
    40% { background-position: 0 75%; }
    50% { background-position: 25% 100%; }
    90% { background-position: 100% 25%; }
    100% { background-position: 75% 0; }
  }

  .text-magic { @apply [text-shadow:0_1px_1px_rgb(255_255_255_/_0.5)] bg-magic bg-clip-text text-transparent animate-magic; }
  .text-magic-fast { @apply [text-shadow:0_1px_1px_rgb(255_255_255_/_0.5)] bg-magic bg-clip-text text-transparent animate-magic-fast; }
}


@layer utilities {
  @keyframes bg-x-1\/2 {
    0% {background-position: 0 50%;}
    50% {background-position: 50% 50%;}
    100% {background-position: 0 50%;}
  }

  .animate-bg-x-1\/2 {
    background-size: 200% 100%;
    animation: bg-x-1\/2 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .debug { @apply ring-8 ring-fuchsia-500/50 ring-inset ring-offset-0; }
  .debug > * { @apply ring ring-fuchsia-700/50; }
  .debug > * { @apply ring-1 ring-fuchsia-900/75; }
  .debug ~ .debug { @apply ring-pink-500/50; }
  .debug ~ .debug > * { @apply ring-pink-700/50; }
  .debug ~ .debug > * > * { @apply ring-pink-900/75; }
}
