@import url("./base.css");

html { @apply h-full bg-swatch-blue dark:bg-swatch-blue-700; }
body { @apply min-h-full bg-hero-graph-paper dark:bg-hero-graph-paper-gray-700; }

body::after {
  @apply block content-[""] fixed top-full inset-x-0 pointer-events-none z-[1000];
  margin-top: -5rem;
  height: 5rem;
  padding: 1rem calc(env(safe-area-inset-right) + 1rem) 1rem calc(env(safe-area-inset-left) + 1rem);
  background: url("../hello-logo-solid.svg") 0 100% / auto 1.5rem content-box no-repeat;
}
