:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);

    --tax: env(titlebar-area-x);
    --tay: env(titlebar-area-y);
    --taw: env(titlebar-area-width);
    --tah: env(titlebar-area-height);

    --kit: env(keyboard-inset-top);
    --kir: env(keyboard-inset-right);
    --kib: env(keyboard-inset-bottom);
    --kil: env(keyboard-inset-left);
    --kiw: env(keyboard-inset-width);
    --kih: env(keyboard-inset-height);

    --shade-color-transparent: rgba(0, 0, 0, 0);
    --shade-color: rgba(0, 0, 0, 0.25);
    --background-color: #01818f;
    --background-color-transparent: rgba(73, 105, 167, 0);

    --modal-z-index: 1000;
}

/* https://css-tricks.com/16px-or-larger-text-prevents-ios-form-zoom/ */
@media (pointer: coarse) {
    input, .ui.input {
        font-size: 16px;
    }
}

/* Reset Semantic UI height=100% */
html:root,
html:root body:not(.dimmed) { height: initial; }

/* Toolbars on mobile device add to the final height. fill-available does not but has limited support. */
html,
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/* html tag for higher specificity than Semantic UI */
html body {
    background-image: linear-gradient(
            290deg,
            #ebe613,
            #74e86a,
            #00dcb3,
            #00c6e0,
            #29aae2
    );
}
